.container {
  display: flex;
  justify-content: center;
  width: 700px;
  height: 100vh;
  margin: auto;
  text-align: center;
  align-items: center;
  user-select: none;
}

button {
  outline: none;
  border: 1px solid gray;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  height: 40px;
  cursor: pointer;
  font-size: 25px;
  width: 35px;
}

p {
  font-size: 25px;
  width: 45px;
}
